<div appRoundedBlock appDraggable>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, hic. Nostrum corporis ducimus deleniti soluta, consequatur veniam debitis ullam ut modi labore magni porro velit laborum dignissimos vel dicta. Vel.
  </p>
</div>

<p appDraggable>
  hola mundo
</p>

<ul appDraggable>
  <li>A</li>
  <li>B</li>
  <li>C</li>
</ul>


<!-- DIRECTIVAS DE ATRIBUTO -->
<!-- <p [style.font-size]="enabled ? '20px' : '4px'" >Hola mundo</p> -->
<!-- <p [ngStyle]="getBackgroundColor()">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis animi, iusto odit accusamus laboriosam nihil corporis nam esse dolorem sit, quasi provident nemo eveniet eum dolor ratione beatae libero ipsa!</p> -->
<!-- <div class="container" [ngClass]="enabled ? 'container-green' : 'container-red'" ></div> -->
<!-- <div class="container" [ngClass]="{
  'container-green': enabled,
  'container-red': !enabled
}" ></div> -->




<!--
  INTERPOLACION

  <h1>{{ title }}</h1>

<p>{{ 5 + 2 }}</p>

<p>{{ ['Juan', 'Marcos', 'Maria'] }}</p>

<p>{{ { id: 1, nombre: 'Naruto' }  }}</p> -->
