<app-lista-de-usuarios></app-lista-de-usuarios>

<p>
  {{ today | date: 'longDate' }}
</p>
<p>
  {{ price | currency: 'EUR' }}
</p>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<!-- BINDING -->

<!-- [] Del componente al elemento -->
<p [style.color]="'cyan'">Lorem</p>

<!-- () Del elemento al componente-->
<button (click)="alternarEnabled()" >Alternar</button>

<!-- [()] En doble direccion-->
<p>
  <input [(ngModel)]="email" type="email" />

  El email ingresado es: {{ email }}

  <button (click)="email = ''">Borrar valor</button>
</p>




<!-- DIRECTIVAS ESTRUCTURALES -->

<div [ngSwitch]="valor">
  <span *ngSwitchCase="1">El valor es 1</span>
  <span *ngSwitchCase="2">El valor es 2</span>

  <span *ngSwitchDefault>
    No es ningun valor valido
  </span>
</div>




<p *ngIf="enabled; else noEsVerdaderoTemplate">Activo</p>
<ng-template #noEsVerdaderoTemplate>
  <p>Inactivo</p>
</ng-template>





<ul>
  <li *ngFor="let heroe of heroes">
    {{ heroe }}
  </li>
</ul>




<!-- DIRECTIVAS PERSONALIZADAS -->
<!-- <div appRoundedBlock appDraggable>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, hic. Nostrum corporis ducimus deleniti soluta, consequatur veniam debitis ullam ut modi labore magni porro velit laborum dignissimos vel dicta. Vel.
  </p>
</div>

<p appDraggable>
  hola mundo
</p>

<ul appDraggable>
  <li>A</li>
  <li>B</li>
  <li>C</li>
</ul> -->


<!-- DIRECTIVAS DE ATRIBUTO -->
<!-- <p [style.font-size]="enabled ? '20px' : '4px'" >Hola mundo</p> -->
<!-- <p [ngStyle]="getBackgroundColor()">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis animi, iusto odit accusamus laboriosam nihil corporis nam esse dolorem sit, quasi provident nemo eveniet eum dolor ratione beatae libero ipsa!</p> -->
<!-- <div class="container" [ngClass]="enabled ? 'container-green' : 'container-red'" ></div> -->
<!-- <div class="container" [ngClass]="{
  'container-green': enabled,
  'container-red': !enabled
}" ></div> -->




<!--
  INTERPOLACION

  <h1>{{ title }}</h1>

<p>{{ 5 + 2 }}</p>

<p>{{ ['Juan', 'Marcos', 'Maria'] }}</p>

<p>{{ { id: 1, nombre: 'Naruto' }  }}</p> -->
